@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Unispace;
        src: url("unispace_rg.ttf") format("ttf");
    }
}

@import "tailwind";

.wsr-text-shadow-heading {
    text-shadow: 5px 4px 0px #e20e5e;
}