@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Unispace;
        src: url("unispace_rg.ttf") format("ttf");
    }
}

@import "tailwind";

.wsr-text-shadow-heading {
    text-shadow: 6px 4px #e20e5e;
}

.wsr-text-shadow-link {
    text-shadow: 2px 1px #e20e5e ;
}

.wsr-text-shadow-link:hover {
    text-shadow: 2px 1px #f56199;
}

.wsr-text-shadow-link:active {
    text-shadow: 2px 1px #fbc1d7;
}

@media(max-width: 904px) {
    .wsr-text-shadow-heading {
        text-shadow: 3px 2px #e20e5e;
    }
}